/syn/box/Box.def
/syn/box/Box.rtg
/syn/box/Box.str
/syn/box/Box.tbl
/syn/box/Stratego-Box.def
/syn/box/Stratego-Box.pp
/syn/box/Stratego-Box.pp.af
/syn/box/Stratego-Box.rtg
/syn/box/Stratego-Box.str
/syn/box/Stratego-Box.tbl
/syn/pp-table/pp-table-pretty.pp.af
/syn/pp-table/pp-table.def
/syn/pp-table/pp-table.pp
/syn/pp-table/pp-table.pp.af
/syn/pp-table/pp-table.rtg
/syn/pp-table/pp-table.str
/syn/pp-table/pp-table.tbl
