bin
.cache
include/Task.def
include/Task-parenthesize.str
include/Task-Permissive.def
include/Task.generated.pp.af
include/Task.packed.esv
include/Task.pp.af
include/Task.rtg
include/Task.str
include/Task.tbl
include/task.rtree
include/task.ctree
include/task.ctree.dep
include/task.jar
include/task-java.jar
editor/java/trans
editor/Task-*.generated.*
syntax/Task*.generated.esv
syntax/Task.generated.pp
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
