<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="task"
            description="Task"
            language="Task"
            derivedFrom="DynamicRoot"
            validator="org.metaborg.meta.lang.task.TaskValidator"
            validatorClass="org.metaborg.meta.lang.task.TaskValidator"
      ></language>
   </extension>
   <extension
         id="org.metaborg.meta.lang.task.parser"
         name="Task Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.metaborg.meta.lang.task.TaskParseController"
            language="Task">
      </parser>
   </extension>    
</plugin>
