/syn/Sdf2.def
/syn/Sdf2.pp.af
/syn/Sdf2.rtg
/syn/Sdf2.str
/syn/Sdf2.tbl
/syn/Stratego-Sdf2.def
/syn/Stratego-Sdf2.pp
/syn/Stratego-Sdf2.pp.af
/syn/Stratego-Sdf2.rtg
/syn/Stratego-Sdf2.str
/syn/Stratego-Sdf2.tbl