.kopje { background-color: rgb(95%, 95%, 70%) }

.balkje { background-color :  rgb(95%, 95%, 90%) 
	  ; font-family: Tahoma, Arial, Helvetica }

.menu { background-color:  rgb(95%, 95%, 70%)
	/* olive  rgb(30%, 30%, 30%) */ }

/*.menu A { color : #FFFFFF }*/

.menuLicht { background-color: rgb(95%, 95%, 70%)}

/*
A.mooielink:link { color: #000000 /*; background-color: #FFFFFF;*/ }
A.mooielink:visited { color: #000000 /*; background-color: #FFFFFF; */ }
A.mooielink:active { color: #000000 /* ; background-color: #FFFFFF;  }
A.mooielink:hover { color: #000000; background-color: #DDDDDD; }
*/
