/* reminder: rgb(red, green, blue) */

BODY {	
	background-color : rgb(95%, 95%, 70%)
}

HR { background-color : olivedrab }

H1 { align : center }

.alt-color { 
	background-color : rgb(95%, 95%, 90%)
}

A { color : brique }

B { 
  color : black
	  /* olivedrab */
	  /* rgb(60%, 50%, 0%) */
}

/* old colors

    TEXT="#000000" 
    BGCOLOR="#CBCAA8" 
    LINK="#0000EF" 
    VLINK="#51188E" 
    ALINK="#FF0000"
*/