
Autobundle is developed by Merijn de Jonge (mdejonge@cs.uu.nl). Check out

   http://www.program-transformation.org/Tools/AutoBundle

for more information.


For the authors of the bundled packages see the AUTHORS file in the package
sub-directories.
