
Autobundle is developed by Merijn de Jonge (M.de.Jonge@tue.nl). Check out
http://www.cwi.nl/~mdejonge/autobundle for more information.


For the authors of the bundled packages see the AUTHORS file in the package
sub-directories.
