/annotation-test
/char-test
/collect-test
/dynamic-rules-highlevel-test
/dynamic-rules-lowlevel-test
/env-traversal-test
/int-list-test
/iteration-test
/integers-test
/list-basic-test
/list-filter-test
/list-index-test
/list-misc-test
/list-sort-test
/list-zip-test
/list-set-test
/parenthesize-test
/placeholder-test
/reals-test
/scoped-finite-map-test
/sets-test
/share-test
/simple-traversal-test
/strcmp-test
/substitution-test
/system-io-file-test
/tables-test
/term-common-test
/tuple-test
/unification-test
/format-check-tests
/old-parse-options-test
/parse-options-test
/rename-test
/string-misc-test
/string-test
/term-zip-test
